<div class="row">
  <div class="index-title column text-center">
    <h1>◈ EXPLORASAURUS ◈</h1>
  </div>
</div>
<div class="slide-show columns large-centered">
  <div class="">
    <%= image_tag "dinosaur2.jpg"%>
  </div>
  <div class="">
    <%= image_tag "dinosaur3.jpg"%>
  </div>
  <div class="">
    <%= image_tag "dinosaur4.jpg"%>
  </div>
  <div class="">
    <%= image_tag "dinosaur5.jpg"%>
  </div>
  <div class="">
    <%= image_tag "dinosaur6.jpg"%>
  </div>
  <div class="">
    <%= image_tag "dinosaur7.jpg"%>
  </div>
  <div class="">
    <%= image_tag "dinosaur8.jpg"%>
  </div>
  <div class="">
    <%= image_tag "dinosaur9.jpg"%>
  </div>
  <div class="">
    <%= image_tag "eggs.jpg"%>
  </div>
</div>
<div class="dino-text">
  <p class="text-center">
    Dinosaurs are a diverse group of animals of the clade Dinosauria. They first
    appeared during the Triassic period, 231.4 million years ago, and were the
    dominant terrestrial vertebrates for 135 million years, from the start of the
    Jurassic (about 200 million years ago) until the end of the Cretaceous
    (66 million years ago), when the Cretaceous–Paleogene extinction event led
    to the extinction of most dinosaur groups (and three-quarters of plant and
    animal species on Earth) ending the Mesozoic Era.
    <%= link_to "(Source)", "https://en.wikipedia.org/wiki/Dinosaur" %>
  </p>
</div>
<h1>List of Dinosaurs:</h1>
<div class="dinosaur-links">
  <% @dinosaurs.each do |dinosaur|%>
    <div class="dinosaur-link">
      <%= link_to dinosaur.name, dinosaur_path(dinosaur) %><br>
      <span class="dinosaur-desc"><%= dinosaur.description %></span>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= button_to "Create a dinosaur!", new_dinosaur_path, class: 'dino-crud-buttons button expand round medium', method: :get %>
<% else %>
  <div class="sign-in-message">
    <%= button_to "Sign in to create a dinosaur!", new_user_session_path, class: 'dino-crud-buttons button expand round medium', method: :get %>
  </div>
<% end %>
<%= paginate @dinosaurs %>
