<%= image_tag "cute-dinosaur.png" %>

<h1>List of Dinosaurs:</h1>
<div class="dinosaur-links">
  <% @dinosaurs.each do |dinosaur|%>
    <div class="dinosaur-link">
      <%= link_to dinosaur.name, dinosaur_path(dinosaur) %><br>
      <span class="dinosaur-desc"><%= dinosaur.description %></span>
    </div>
  <% end %>
</ul>

<%= button_to "Create a dinosaur!", new_dinosaur_path, class: 'dino-crud-buttons button expand round medium', method: :get %>
<%= paginate @dinosaurs %>
