<h1 class="sub-header">Create a Dinosaur!</h1>

<%= form_for(@dinosaur) do |form| %>
  <div class="field column small-12">
    <%= form.label :name, class: "text-input-label" %><br>
    <%= form.text_field :name, class: "text-input-field", placeholder: @dinosaur.name %>
  </div>
  <div class="field column small-12">
    <%= form.label :location_found, class: "text-input-label" %><br>
    <%= form.text_field :location_found, class: "text-input-field", placeholder: @dinosaur.location_found%>
  </div>
  <div class="field column small-12">
    <%= form.label :info_url, class: "text-input-label" %><br>
    <%= form.text_field :info_url, class: "text-input-field", placeholder: @dinosaur.info_url%>
  </div>
  <div class="field column small-12">
    <%= form.label :description, class: "text-input-label" %><br>
    <%= form.text_field :description, class: "text-input-field", placeholder: @dinosaur.description%>
  </div>

  <br>
  <div class="actions">
    <%= form.submit "Create a Dinosaur!", class: "dino-crud-buttons button expand round medium" %>
  </div>
<% end %>
