<h1><%= @dinosaur.name %></h1>
<p> Originally Found: <%= @dinosaur.location_found %></p>
<p> <%= link_to "See More", @dinosaur.info_url %></p>
<p> <%= link_to "Edit this dinosaur!", edit_dinosaur_path(@dinosaur) %></p>
<p> <%= button_to "Exctinctify this dinosaur!", @dinosaur, class: 'button round tiny', method: :delete %> </p>
