<div class="row">
  <div class="dino-info large-4 columns">
    <h1><%= @dinosaur.name %></h1>
    <p> Originally Found: <%= @dinosaur.location_found %></p>
    <p> Description: <%= @dinosaur.description %></p>
    <p> <%= link_to "See More", @dinosaur.info_url %></p>
  </div>
  <div class="dino-image large-5 columns end">
    <%= image_tag "giganotosaurus.jpg" %>
  </div>
</div>

<h3>
User reviews:
</h3>
  <div class="reviews row">
    <% @reviews.each do |r| %>
      <% @review = r %>
      <div class="row">
        <div class="review-block large-8 columns">
          <span class="review-info"><%= r.user.email %> rates <%= @dinosaur.name %> a <%= r.rating %></span><br>
          <span class="review-body"><%= r.body %></span>
          <%= link_to like_dinosaur_review_path(dinosaur_id: r.dinosaur_id, id: r.id), method: :put do %>
            Upvote
            <%= r.get_upvotes.size %>
          <% end %>
          <%= link_to unvote_dinosaur_review_path(dinosaur_id: r.dinosaur_id, id: r.id), method: :put do %>
            Unvote
          <% end %>
          <%= link_to dislike_dinosaur_review_path(dinosaur_id: r.dinosaur_id, id: r.id), method: :put do %>
            Downvote
            <%= r.get_downvotes.size %>
          <% end %>
          <div class="comments">
            <span class="comment-header">Comments:</span>
            <br>
            <% r.comments.each do |comment| %>
              <span class="comment-body"><%= comment.body %> </span>
              <span class="comment-user">(<%= comment.user.email %>) </span>
              <%= button_to "Update comment", edit_review_comment_path(review_id: @review.id, id: comment.id), method: :get %>
              <br>
            <% end %>
          </div>

          <% if user_signed_in? %>
            <%= render 'layouts/comments' %>
          <% end %>
        </div>

        <div class="large-1 columns end">
          <%= button_to "Update", edit_review_path(r.id), class: 'crud-buttons button expand round tiny', method: :get %>
          <%= button_to "Delete", r, method: :delete, class: 'crud-buttons button expand round tiny' %>
        </div>
      </div>
    <% end %>
    <%= paginate @reviews %>
  </div>

<% if user_signed_in?  %>
  <div class="row">
    <%= form_for [@dinosaur, @new_review], {action: dinosaur_reviews_path(@dinosaur)} do |f| %>
      <div class="large-1 columns">
        <%= f.label :rating %>
        <%= f.select :rating, [[1,1],[2,2],[3,3],[4,4],[5,5]], class: 'border-radius', method: :post %>
      </div>
      <div class="large-8 columns">
        <%= f.label :body %>
        <%= f.text_field :body, placeholder: "Write a new review for #{@dinosaur.name}" %>

      </div>
      <br>
      <div class="large-9 columns">
        <%= f.submit 'Submit', class: 'crud-buttons button expand round medium' %>
      </div>
    <% end %>

    <% if current_user == @dinosaur.user %>
      <div class="large-9 columns">
        <%= button_to "Edit this dinosaur!", edit_dinosaur_path(@dinosaur), class: 'crud-buttons button expand round medium', method: :get%>
        <%= button_to "Exctinctify this dinosaur!", @dinosaur, class: 'crud-buttons button expand round medium', method: :delete %>
      </div>
    <% end %>

    <% if current_user.admin? && current_user != @dinosaur.user %>
      <div class="large-9 columns">
        <%= button_to "Exctinctify this dinosaur!", @dinosaur, class: 'crud-buttons button expand round medium', method: :delete %>
      </div>
    <% end %>
  </div>
<% end %>
